name: "YDMS Build"

on:
  push:
  workflow_dispatch:

jobs:
  build-linux:
    strategy:
      matrix:
        osver: [ubuntu-latest, ubuntu-24.04-arm]

    runs-on: ${{ matrix.osver }}

    steps:
      - uses: actions/checkout@v4
      - name: Set dist name
        run: |
          echo "wps=${{ github.workspace }}/builddir" >> "$GITHUB_ENV"
          mkdir -p ${{ github.workspace }}/builddir

          if ${{ matrix.osver == 'ubuntu-24.04-arm' }}; then
            echo "distname=compressonator-linux-arm" >> "$GITHUB_ENV"
          else
            echo "distname=compressonator-linux" >> "$GITHUB_ENV"
          fi
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y mesa-common-dev libglew-dev libicu-dev libegl1-mesa-dev libopenexr-dev libopencv-dev libglm-dev
      - name: Generate build files
        working-directory: ${{ env.wps }}
        run: |
          cmake -DOPTION_ENABLE_ALL_APPS=OFF -DOPTION_BUILD_CMP_SDK=ON -DOPTION_CMP_QT=OFF -DOPTION_BUILD_KTX2=ON -DOPTION_BUILD_EXR=ON -DOPTION_BUILD_GUI=OFF -DBUILD_SHARED_LIBS=ON -DCMAKE_CXX_FLAGS="-march=icelake-client -mno-avx512f" ..
      - name: Build library
        working-directory: ${{ env.wps }}
        run: |
          CPLUS_INCLUDE_PATH=/usr/include/opencv4/ make -j4
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          if-no-files-found: error
          name: ${{ env.distname }}
          path: ${{ env.wps }}/lib/**/*.so

  build-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup cmake
        run: |
          cmake -E make_directory ${{ github.workspace }}/build/bin
          python build/fetch_dependencies.py
      - name: Setup msbuild
        uses: microsoft/setup-msbuild@v2
      - name: Build compressonator
        run: |
          msbuild -target:build -property:Configuration=Release_MD_DLL -property:Platform=x64 -m build_sdk\cmp_framework.sln
          msbuild -target:build -property:Configuration=Release_MD_DLL -property:Platform=x64 -m build_sdk\cmp_compressonatorlib.sln
      - name: Collect build results
        shell: bash
        run: |
          mkdir results
          cp -r build/Release*/x64/** results
      # These next 2 steps are a temporary solve for: https://github.com/Yellow-Dog-Man/compressonator/issues/9
      - name: Adjust CMP_Framework Name
        run: mv results/CMP_Framework_MD_DLL.dll results/CMP_Framework.dll
      - name: Adjust CMP_Compressonator Name
        run: mv results/Compressonator_MD_DLL.dll results/CMP_Compressonator.dll
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          if-no-files-found: error
          name: windows-lib
          path: results/
